@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');

.Kosova-Buiness-Image{
background: linear-gradient(rgba(var(--linear-rgb),0.65),rgba(var(--linear-rgb),0.65)),
url('../../../assets/Shared/KosovaBusiness/Background1.jpg');

background-repeat:no-repeat;
width: 100%;
background-size: cover;
background-position: center;
background-attachment: inherit;
position: relative;
margin-top: 15%;
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
align-items: center;
@media(max-width: 1341px){
padding: 1% 1% 0% 0%;
}
@media(max-width: 870px){
    padding: 3% 0% 0% 0%;
}
@media(max-width: 750px){
    padding: 7% 6% 4% 0% ;

}
@media(max-width: 590px){
    padding: 7% 6% 4% 4%;
}
@media(max-width: 517px){
    padding: 7% 6% 4% 9%;
}
@media(max-width: 460px){
    padding: 7% 6% 4% 12%;
}
@media(max-width:433px){
    padding: 7% 7% 4% 18%;
}
@media(max-width: 387px){
    padding: 7% 7% 4% 23%;
}
}
.Kosova-Business-Image2{
    content: url('../../../assets/Shared/KosovaBusiness/Students.png');
   
    margin-top: -4%;
    width: max(42%,2vw);
    margin-right: 13%;
    @media(max-width: 1240px){
        margin-right: 6%;
    }
    @media(max-width: 753px){
        display: none;
    }

}
.Kosova-BusinessContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12%;
    margin-top: 0%;
    color: #fff;


    @media(max-width: 753px){
        margin-left: -48%;
    }
}
.Logo-KosovaBusiness{
    width: max(36%,11vw);
    justify-content: center;
    margin-right: 81%;
    align-items: center;
    display: flex;
    margin-top: 6%;
    margin-bottom: 8%;
    margin-top: -2%;
    @media(max-width: 870px){
        width: max(45%,2vw);
         margin-bottom: 1%;

    }
    @media(max-width: 753px){
        margin-right: 61%;
    }
    @media(max-width: 620px){
        margin-right: 56%;
    }

}
.Text-Content{
    display: flex;
    flex-direction: column;
    margin-left: -28%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    h4{
        font-size: 31px;
        margin-bottom: 34%;
        @media(max-width: 1341px){
            font-size: 30px;
            margin-bottom: 37%;
        }
        @media(max-width: 1137px){
            font-size: 21px;
        }

        @media(max-width: 1311px){
            font-size: 26px;
            margin-bottom: 37%;
            width: 100%;

        }
        @media(max-width: 870px){
        font-size: 20px;
        }
        

    }
    span{
        font-weight: bold;
    }
    p{
       position: absolute;
        font-size: 16px;
        width: max(27%,2vw);
        color: rgb(255, 255,255,84%);
        @media(max-width: 1341px){
            width: max(39%,2vw);
            margin-left: 0;
        }
        @media(max-width: 1311px){
            font-size: 14px;
            width: max(44%,2vw);
        

        }
        @media(max-width: 870px){
            width:max(51%,2vw);
        }
        @media(max-width: 753px){
            width: max(95%,2vw);
        }
        
        
    }
    @media(max-width: 753px){
        margin-left: 0%;
    }
  
}
.Link-KosovaBusiness{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(11%,10vw);
    border-radius: 30px;
    height: 44px;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    margin: 6% 0% -6%;
    font-size: 14px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    &:hover{
         transform: translateX(15px);
         -webkit-transform: translateX(15px);
    }
    a{
        color: #fff;
    }
    @media(max-width: 753px){
        width: max(26%,10vw);
        height: 26px;
        left: 30%;
        margin-bottom: -7%;
    }
    @media(max-width: 470px){
        margin-bottom: -17%;
    }
    @media(max-width: 387px){
        margin-bottom: -21%;
    }
    @media(max-width:360px){
        margin-bottom:-27% ;
    }
    @media(max-width: 350px){
        margin-bottom: -27%;
    }
}