@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300&display=swap');

.Kosova-Buiness-Image{
    background:  
url('../../../assets/Shared/KosovaBusiness/Background.jpg');
background-repeat:no-repeat;
width: 100%;
background-size: cover;
background-position: center;
background-attachment: inherit;
position: relative;
margin-top: 15%;
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
align-items: center;

}
.Kosova-Business-Image2{
    content: url('../../../assets/Shared/KosovaBusiness/Students.png');
   
    margin-top: -4%;
    width: max(42%,2vw);
    margin-right: 13%;

}
.Kosova-BusinessContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 12%;
    margin-top: 0%;
    color: #fff;
}
.Logo-KosovaBusiness{
    width: max(33%,2vw);
    justify-content: center;
    margin-right: 81%;
    align-items: center;
    display: flex;
    margin-top: 6%;
    margin-bottom: 8%;
    margin-top: -2%;

}
.Text-Content{
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    h4{
        font-size: 32px;
        margin-bottom: 4%;

    }
    span{
        font-weight: bold;
    }
    p{
        font-size: 17px;
        width: max(84%,2vw);
    }
}
.Link-KosovaBusiness{

    display: flex;
    justify-content: center;
    align-items: center;
    width: max(24%,2vw);
    border-radius: 30px;
    height: 45px;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    margin: 6% 0% -6%;
    font-size: 14px;
    a{
        color: #fff;
    }
}