.background-login{
    background-image: url('../../../../assets/Login/background1.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: inherit;
    width: 100%;
    height: 105vh;
    .background-login2{
        background: url("../../../../assets/Login/background2.png");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: inherit;
        width: 100%;
        height: 105vh;
        margin-top: max(80px,3%);
    }
}
