.mobile-nav{
    position: relative;
}
.mobile-sidebar{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    max-width: 77.55%;
    z-index: 2200;
    height: 100%;
    min-height: 100vh;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
}
.mobile-sidebar .sidebar-logo-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid purple;
    padding: 0 19px;
    a{
        display: flex;
        align-items: center;
    }
    .mobile-logo-container{
        content: url('../../../assets/Home/Logo.jpg');
        height: 44px;
    }
   button{
    color: red;   
    background: none;
    border: 0;
    font-size: 33px;
    margin-bottom: -15px; 
   }
} 
.mobile-sidebar .mobile-sidebar-links{
    .nav-sidebar-link{
        display: flex;
        justify-content: space-between;
        padding:26px 45px 13px;
        border-bottom: 3px solid purple;
        a{
            font-size: 17.5px;
            width:160px;
            display: flex;
            align-items: center;
            color: black;
            svg{
                font-size: 21px;
                margin-right: 7px;
                color: var(--main-color);

            }
        }
    }
    .dropdown-arrow{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        font-size: 22.5px;
        margin-bottom: -3px;
        color:black;
        cursor: pointer;
    }
     .inner-links{
        margin:0;
        
        a{
            padding:5px 0px 7px 1px;
            border-bottom: 1px solid purple;
            color:black;
            text-decoration: none;
            font-size: 16px;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }

}
.mobile-sidebar .sidebar-auth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:75px 0;
    a{
        font-size: 16.5px;
        padding:13px 21px;
        border-radius: 16px;
        background-color: deeppink;
        margin:16.5px;
        color:black !important;
        display: flex;
        justify-content: center;
    }
}

