.JoinTeam-Main{
background:linear-gradient(530deg, rgba(112, 112, 112, 85%),   rgba(19, 19, 19, 2%)),  
url('../../../../assets/Home/JoinTeam/JoinTeam.jpg');
background-repeat:no-repeat;

background-size: cover;
background-position: center;
margin-top: -17%;
padding: max(2%, 2%)30%;
background-attachment: inherit;
color: white;
position: relative;
}
.JoinTeam-Ttiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    width: maX(96%,2VW);

    margin-top: 3%;
    line-height: 60px;
    h4{
        font-size: 50px;
        margin-top: 1%;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    span{
      color: #ffa200;  
    }
}
.Pargraph-JoinTeam{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    width: max(64%,2%);
    line-height: 25px;
    font-size: 16px;
    margin-left: 16%;
    margin-bottom: -4%;
    padding: 1% 1%;
}
.Links-JoinUsTeam{

    display: flex; 
    justify-content: center;
    font-size: 15px;
    align-items: center;
    border: 1px solid #ffff;
    color: #ffff;
    margin: 2% 44%;
    width: 23.5%;
    border-radius: 30px;
    position: relative;
    height: 45px;
    margin-top: 9%;
    margin-left: 34%;
    margin-bottom: 4%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    &:hover{
         transform: translateX(15px);
         -webkit-transform: translateX(15px);
    }
    a{
        color: white;
        font-family: 'Poppins', sans-serif;
    }
}