@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.Homepage{
    overflow: inherit;
}
.Homepage .Next{
    background:linear-gradient(156deg, rgba(112, 112, 112, 100%),   rgba(59, 55, 55, 0)),  
    url('../../../../assets/Home/ImagesForHome/Nextlevel.png');
    background-repeat:no-repeat;

    background-size: cover;
    background-position: center;
    padding: 11.5% 22%  3%;
    margin-right: 10%;
    margin-top: 5%;
    background-attachment: initial;
    position: relative;
    width: 100%;
    color: #fff;
    text-align: inherit;
    .Learning{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8%;
        width: 74%;
        margin-left: -31%;
        position: relative;
        @media  (max-width: 1450px){
            width: 85%;
        }
    }
      
   .Learning h1{
        position: relative;
        font-size:50px;
        width: 95%;
       
       font-family: 'Poppins', sans-serif;
    }
   .Learning span{
        margin-left: 3%;
        color: #FFA200;
        font-family: 'Poppins', sans-serif;
    }
    .Learning .img{
        margin-left: 24%;
         @media  (max-width: 1450px){
            margin-left: 25%;
        }

    
    }
   .Learning p{
        margin: 5%;
        font-size: 20px;
        width: 86%;
        margin-left: -1%;
        font-family: 'Poppins', sans-serif;
    }
}
.Links {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin: 0%;
    font-size: 19px;
    width: 50%;
    margin-top: 0;
    margin-left: -3%;
    @media  (max-width: 1450px){
        width: 70%;
    }
    

}
    .Join-for-free{
        font-size: 15px;
        border-radius: 30px;
        padding: 12px 20px;
        background-color: #6E53FF;
        color: white;
        text-decoration: none;
        width: 40%;
        font-family: 'Poppins', sans-serif;
    }
    .Play{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
        border-color: transparent;
        width: 52%;
        font-size: 15px;
        h4{
            margin-left: 3%;
            font-size: 15px;
            width: 80%;
            color: white;
            font-family: 'Poppins', sans-serif;
        }
    }
    .circle{
        display: flex;
        position: relative;
        background-color: #fff;
        border-radius: 50%;
        justify-content: space-between;
        width: 42px;
        height: 40px;
        justify-content: center;
        align-items: center;
    }
    .triangle{
        color: #4B3C99;
    
    }
.Next .Card{
    width:34%;
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: center;
    margin-top: -44%;
    float: right;
    background-color:white;
    border-radius:20px;
    margin-right: -13%; 
    @media  (max-width: 1250px){
        margin-top: -35%;
    }


  
    
    .Container{
     display:flex; 
     width:100%;
     position: relative;
     align-items: center;
     justify-content: flex-start;
     
    }
}
.Container .Logo{
    position:relative;
    margin-left:6%;
    
    display: flex;
    .square{
        background-color: rgb(233,81,91,22%);
        height: 45px;
        width: 47px;
        border-radius: 9px;
    }
    .Grpahic-Design{
        height: 64%;
        width: 67%;
        margin-left: 15%;
        margin-top: 14%;
    }
    
}
 .Container .Info{
    display:flex;
    margin-bottom:1%;
    position:relative;
    flex-direction:column;
    height:71px;
    justify-content:flex-start;
    align-items:flex-start;
    width: 51%;
    margin-left: 3%;
    margin-top: 12%;
    
    p{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: -3%;
        color: black;
    } 
    h4{
        font-family: 'Poppins', sans-serif;
        font-size:15px;
        color: black;
        margin-top: 9%;
    }
}
.Container .Arrow-r{
   
    margin-top: 10%;
    margin-left: 10%;
}


.Next .Card3{
    background-color: white;
    width: 23%;
    float: right;
    margin-top: -34%;
    margin-right: -34%;
    height: 204px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 6%;
    @media  (max-width: 1250px){
        margin-top:-20%;
        margin-right: -50%;
      
    }
    
 
.Container3{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}



}
.Container3 .Logo1{
    position: relative;
    margin-right: 12%;
    margin-top: 28%;
    .Circle-student{
        background-color:rgb(75, 60,153,22%) ;
        border-radius: 50%;
        height: 52px;
        width: 58px;
    }
    .total-students{
        height: 87%;
        width: 60%;
        position: relative;
        margin-left: 19%;
    }
}
.Container3 .info1{
    display: flex;
    height: 51%;
    flex-direction: column;
    align-items: center;
    width: ma(81%);
    justify-content: center;
    margin-bottom: 27%;
    margin-left: -9%;
    h4{
        color: black;
        font-size: 18px;
        margin: 15%;
    }
    p{
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 13px;
        margin-top: -19px;
    }
}
.Container3 .Students{
    display: flex;
    flex-direction: row;
    margin-left: 19%;
    margin-top: 12%;
    .Student2{
        margin-left: -8%;

    }
    .Student3{
        margin-left: -10px;
    }
.Student4{
    margin-left: -10px;
}
.Student5{
    margin-left: -12px;
}
.Student6{
    margin-left:-11px ;

}
.Student7{
    margin-left: -11px;
}
}
.Card2{
    background-color: white;
    width: 23%;
    float:right ;
    height: 204px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 6%;
    margin-top: -30%;
    margin-right: -3%;
    @media  (max-width: 1250px){
    margin-top: -20%;
    
    }

}
.Card2 .Container2{
    width: 100%;
    margin-bottom: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #D6D6D6;
}
 .Bord-Circle{
    width: 97%;
    height: 67px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    
    &::after{
        margin-left: 8%;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 157px;
        height: 154px;
        border: 8px solid;
        box-sizing: border-box;
        border-color: #D6D6D6 #4346E1;
        border-radius: 50%;
        transform: rotate(50deg);


    }
}
 .Container2 .Precentage-Border{
    display: flex;
    color: black;
    font-size: 11px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .Zero{
        margin-left: 8%;
    }
    .Hundred{
        margin-right: 8%;
    }
 }
 .Container2 .Info2{
    display: flex;
    color: black;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    h4{
        margin-bottom: 8%;
        margin-top: -26px;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-size: 13px;
        font-family: 'Poppins', sans-serif;

    }
 }
 .Card2 .Gold-medal{
    display: flex;
     
    position: absolute;
    width: 100%;
    margin-top: 101%;
    justify-content: flex-start;
    align-items: center;
    .Logo2{
        position: relative;
        margin-left: 3%;
        margin-bottom: 35%;
    }
 }
 .Logo2 .square-percent{
    background-color: #fff;
    height: 45px;
    width: 47px;
    border-radius: 16px;
    box-shadow: rgba(255, 187, 0, 65%) 0px 5px 15px;
    .Medal{
        height: 44px;
        width: 52%;
        margin-left: 24%;

    }
 }
.Gold-medal .Info3 {
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 104%;
    margin-bottom: 33%;
    margin-right: 5%;
    p{
        font-size: 13px;
        margin: 3%;
        width: 95%;
        font-family: 'Poppins', sans-serif;
        margin-left: 10%;
    }
    h4{
        font-size: 9px;
        margin-right: 57%;
        margin-bottom: 3%;
        font-family: 'Poppins', sans-serif;

    }
}