@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Our-Blog{
    margin: 10% 4%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    margin-top: -2%;
    span{
        font-weight: bold;
    }
h4{
    display: flex;
    position: relative;
    padding: 0 1%;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
}
.Link-Ourblog{
    position: relative;
    display: flex;
    margin-left: 84%;
    border: 1px solid rgba(75,60,153,100%);
    margin-top: -1%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    width: 11%;
    height: 41px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}
.Cards-OurBlog{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 3;
}
.OurBlog-Container{
    border: 1px solid rgba(112,112,112,21%);
    height: fit-content;
    position: relative;
    width: 27%;
    border-radius: 20px;
}
.Title-Ourblog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 79%;
    margin-left: 5%;
    padding: 5% 0%;
    font-family: 'Poppins', sans-serif;
p{
    font-weight: 600;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}
}
.Image-OurBlogContainer{
    width: 100%;
}
.Time-ViewOublog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-top: -7%;
    .Time-Container{
        width: 20px;
        height: 80px;
    
    }
    p{
        position: relative;
        left: -7%;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    } 
}
.View-Container{
    width: 22px;
    height: 51px;
    font-family: 'Poppins', sans-serif;
}
.View-OurBlog{
    position: relative;
    font-size: 15px;
    left: -7%;
    font-family: 'Poppins', sans-serif;

}

