@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.Homepage .Logos-WhyKs{
    position: relative;
    
    width: max(57%,2vw);
    height: auto;
    align-items: 0;
}

.Logos-WhyKs .Logo-Container-WhyKosovaTraining{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.Icon-Olimpic {
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo1.svg');
    width: 9%;
    margin-bottom: 3%;
    margin-right: 55%;
}
.Icon-Half{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo2.svg');
    width: 9%;
    margin-right: 57%;
    margin-top: 25%;
}
.Icon-Art{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo3.svg');
    margin-right: 17%;
    width: 9%;
    margin-top: -22%;
    margin-left: -10%;
    margin-bottom: -4%;
}
.Icon-HalfCircle{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo4.svg');
width: 9%;
margin-top: -16%;
margin-left: 18%;
margin-bottom: -2%;
}
.Icon-Book{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo5.svg');
    width: 9%;
    margin-top: 18%;
    margin-left: 15%;
}
.Icon-Brush{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo6.svg');
    width: 9%;
    margin-top: -29%;
    margin-left: 54%;
}
.Icon-2pieceIcon{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo7.svg');
    width: 9%;
    margin-top: -19%;
    margin-left: 74%;
}
.Icon-Calendar{
    content: url('../../../../assets/Home/WhyKosovaTraining/Logo8.svg');
    width: 9%;
    margin-top: 17%;
    margin-left: 76%;
}
.Info-WhyKS{
    width: 100%;
    position: relative;
    height: auto;
}
.Info-contaier   {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    margin-top: -40%;
    margin-left: 26%;
    h1{
        margin-left: -7%;
        margin-top: -2%;
        margin-bottom: 9%;
    }
    p{
        
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        width: max(65%,2vw);
        margin-left: -9%;
        margin-top: -3.5%;
       
    }
    
}
.About-UsKosovaTraining{
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-top: 3%;
    margin-left: -9%;
    &:hover{
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
    }
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
  
    .About-Circle{
        font-size: 16px;
        border-radius: 29px;
        background-color: #6E53FF;
        padding: 12px 45px;
        color: #fff;

    }
}

.Boy{
    position: relative;
    width: max(50%,2vw);
    float: right;
    margin-right: -34%;
    margin-top: -33%;
}
.Boy-School{
    content: url('../../../../assets/Home/WhyKosovaTraining/BoySchool.svg');
    width: max(67%,2vw);
}
.cards-Certifications{
    float: right;
    margin-right: -66%;
    margin-top: -29%;
    width: 42%;
    display: flex;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid #e5e5e5;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
        
    }
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
  
    
    .Containers-CardsCertificaton {
        align-items: center;
        display: flex;
        width: 100%;
        position: relative;
        justify-content: center;
    }
}
.Logo-CardsCertification{
    display: flex;
    position: relative;
    margin-left: 2%;
    .Square-Certification{
        box-shadow: rgba(255, 208, 133, 100%) 0px 25px 50px -12px;
        background-color: #FFD085;
        height: 52px;
        width: 53px;
        border-radius: 19px;
        margin-top: -44%;
        .Certification{
            height: 27px;
            width: 42px;
            margin-top: 23%;
            margin-left: 7%;
        }
   }
}
.Info-Certificates{
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    h4{
        font-size: 24px;
        color: #000;
        font-family: 'Poppins', sans-serif;

    }
    p{
        font-size: 16px;
        line-height: 21px;
        margin-top: 2%;
        font-family: 'Poppins', sans-serif;
        color: #656464;
    }

}
.cards-Expert{
    float: right;
    margin-right: -71%;
    margin-top: -12%;
    width: 41%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid transparent;
    &:hover{
        border: 1px solid #e5e5e5;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
    }
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
  
    .Containers-CardsExpert{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        justify-content: center;
    }
}
.Logo-CardsExpert{
    display: flex;
    position: relative;
    margin-left: 2%;
    .Square-Expert{
        width: 53px;
        box-shadow: rgba(92, 161, 254, 100%) 0px 25px 50px -12px;
        background-color: #5CA1FE;
        height: 52px;
        border-radius: 19px;
        margin-top: -21%;
        .Expert{
            height: 25px;
            width: 40px;
            margin-top: 23%;
            margin-left: 9%;
        }
    }
    
}
.Info-Export{
    justify-content: center;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    h4{
        font-size: 24px;
        color: #000;
        font-family: 'Poppins', sans-serif;

    }
    p{
        font-size: 16px ;
        margin-top: 3%;
        font-family: 'Poppins', sans-serif;
        color: #656464;
    }
}
.cards-Flexible{
    align-items: center;
    cursor: pointer;
    float: right;
    margin-top: 4%;
    margin-right: -68%;
    width: 43%;
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    
    &:hover{
        border: 1px solid #e5e5e5;
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
    }
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    
    .Containers-Flexible{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        position: relative;
    }
}
.Logo-Flexible{
    position: relative;
    display: flex;
    margin-left: 2%;
    .Square-Flexible{
        box-shadow: rgba(255,133, 138, 100%) 0px 25px 50px -12px;
        background-color: #FF858A;
        height: 52px;
        width: 53px;
        border-radius: 19px;
        margin-top: -31%;
    }
    .Flexible{
        height: 27px;
        width: 37px;
        margin-top: 24%;
        margin-left: 14%;
    }
}
.Info-Flexible{
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin-left: 8%;
    flex-direction: column;
    position: relative;
    h4{ 
        font-size: 24px;
        color: #000;
        font-family: 'Poppins', sans-serif;
    }
    p{
        line-height: 21px;
        font-size: 16px;
        margin-top: 2%;
        font-family: 'Poppins', sans-serif;
        color: #656464;
    }
}