
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html{
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
body{
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    width: 10px;
}
}
body::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color:  #474c55;
  border-radius: 1px;
}




:root{
  --main-color:#1f6feb;
  --main-rgb: 31,111,235;
  --linear-rgb: 19,96,217;
  .logo-container{
    content: url('../src/assets/Nav/Logo.png');

  }
}
body.theme-purple{
  --main-color:#6e53ff;
  --main-rgb: 110,83,255;
  --linear-rgb: 110,83,255;
  .logo-container{
    content: url('../src/assets/Nav/Logopurple.png');
  }
}
body.theme-red{
  --main-color:#ed2f3c;
  --main-rgb: 237,47,60;
  --linear-rgb: 237,47,60;
  .logo-container{
    content: url('../src/assets/Nav/Logored.png');

  }
}
body.theme-orange{
  --main-color:#e5720d;
  --main-rgb: 229,114,13;
  --linear-rgb: 229,114,13;
  .logo-container{
    content: url('../src/assets/Nav/Logoorange.png');
  }
}
