*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html{
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}
body{
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    width: 10px;
}
}
body::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color:  #474c55;
  border-radius: 1px;
}

.rec-swipable{
  align-items: stretch;
}
.rec-carousel-item-visible{
  margin: 0;
  display: flex;
}
.rec-dot{
  display: none !important;
}
.styled-arrows{
  .rec-arrow,
  .rec-arrow-left,
  .rec-arrow-right{
    background-color: #827D7D;
    color: #f8f4f4;
    width: max(44px,2vw);
    height: max(42px,2vw);
    min-width: max(44px, 2vw) ;
    min-height: max(42px, 2vw);
    max-width: max(44px, 2vw) ;
    max-height: max(42px, 2vw);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: max(19px,1vw);
   

  }
  
}


