*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html{
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}
body{
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar {
    width: 10px;
}
}
body::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color:  #474c55;
  border-radius: 1px;
}

.theme-purple{
  background: rgba(110,83,255,100%);
  
}
.theme-red{
  background:rgba(237,47,60,87%)
} 


.theme-blue{
  background-color:rgba(28,49,238,100%)

}
.theme-orange{
  background-color: rgba(229,114, 13, 100%);

}
 .theme-blue .Cards-topcategoties {
  background-color: #052Ca3;
} 
.theme-blue .Link-Top{
  background-color: #305EE4
}
.theme-blue .inner-cotentRec{
  background-color: #052Ca3;
}
.theme-blue .Enrollnow-Rec{
  background-color:#305EE4 ;
}
.theme-blue .Link-RecomandedL{
  background-color:#305EE4
}
.theme-blue .Learn-more-RightPick{
  background-color:#305EE4 ;
}
.theme-blue .OurBlog-Container{
  background-color: #052Ca3;
}
.theme-blue .Link-Ourblog{
  background-color:#305EE4 ;
}

.theme-orange .Cards-topcategoties{
  background-color: #F88017;
}
.theme-orange .Link-Top{
  background-color:#F87217 ;
}
.theme-orange .inner-cotentRec{
  background-color: #F88017;
}
.theme-orange .Enrollnow-Rec{
  background-color: #F87217;
}
.theme-orange .Link-RecomandedL{
  background-color: #F87217;

}
.theme-orange .Learn-more-RightPick
{
  background-color: #F87217;
}
.theme-orange .OurBlog-Container{
  background-color: #F88017;
}
.theme-orange .Link-Ourblog{
  background-color: #F87217;
}



.theme-red .Cards-topcategoties{
  background-color: #E41B17;
}
.theme-red .Link-Top{
  background-color:#DC381F;
}
.theme-red .inner-cotentRec{
  background-color: #E41B17;
}
.theme-red .Enrollnow-Rec{
  background-color: #DC381F;
}
.theme-red .Link-RecomandedL{
  background-color: #DC381F;

}
.theme-red .Learn-more-RightPick
{
  background-color: #DC381F;
}
.theme-red .OurBlog-Container{
  background-color: #DC381F;
}
.theme-red .Link-Ourblog{
  background-color: #DC381F;
}

.theme-purple .Cards-topcategoties{
  background-color: #7D1B7E;
}
.theme-purple .Link-Top{
  background-color:#8467D7;
}
.theme-purple .inner-cotentRec{
  background-color: #7D1B7E;
}
.theme-purple .Enrollnow-Rec{
  background-color: #8467D7;
}
.theme-purple .Link-RecomandedL{
  background-color: #8467D7;

}
.theme-purple .Learn-more-RightPick
{
  background-color: #8467D7;
}
.theme-purple .OurBlog-Container{
  background-color: #8467D7;
}
.theme-purple .Link-Ourblog{
  background-color: #8467D7;
}
.theme-purple .OurBlog-Container{
  background-color: #7D1B7E;
}
.theme-red .rec-arrow{
  background-color: #E41B17;
}