.Trusted-by-manycomapnies{
    margin: 3.5%;
    padding: 0% 35%;
   
  
    
    }
    .Line-row{
        width: 100%;
        height: 16px;
        position: relative;
        margin-bottom: 20%;
        @media(max-width:1349px){
            
            margin-bottom: -33%;
        }
        @media(max-width:1230px){
            margin-bottom: -22%;
            
        }
        @media(max-width:1112px){
            margin-bottom: -11%;
        }
        @media(max-width:977px){
            margin-bottom: 6%;
        }
        @media(max-width:753px){
            margin-bottom: 31%;
        }
        @media(max-width: 750px){
            margin-bottom: 43%;
        }
        @media(max-width: 669px){
            margin-bottom: 62%;
        }
        @media(max-width:555px){
            margin-bottom: 71%;
        }
        @media(max-width:519px){
            margin-bottom: 127%;
        }
        @media(max-width: 433px){
            margin-bottom: 222%;
        }
        
    }
.Line-row::after, .Line-row::before{ 
    content: '';
    position:absolute;
    margin:auto;
    height: 1px;
    background: #EBA62A;
    width: 17%;
    top: 55%;
}
.Line-row::after{
    left: -25%;

}
.Line-row::before{
    right: 2%;
}
.Trusted-title{
    font-size: 18px;
    width: 80%;
}
.Trusted-by-icon{

display: flex;
justify-content: center;
align-items: center;

position: relative;
@media(max-width: 1349px){
    width: 111%;
  
    padding: 58%;
}
@media(max-width: 1000px){
    margin-bottom: 60%;
}
@media(max-width:830px){
    margin-bottom: 95%;
}
@media(max-width: 630px){
    margin-bottom: 110%;
}
@media(max-width: 519px){
    margin-bottom: 170%;
}
@media(max-width: 433px){
    margin-bottom: 230%;
}
@media(max-width: 380px){
    margin-bottom: 280%;
}
}

  .Logo-Container{
    
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
    position: absolute;
    margin: max(21px,1vw)0%;
    width: 350%;
    @media(max-width:1230px){
        justify-content: center;
    }
   
    @media(max-width: 750px){
        width: 680px;
        max-width: 278%;
    }
   
}




.logo-row1{
    
   
   
   height: max(73px,2vw);
   margin: max(74px,2vw);
   content: url('../../../assets/Shared/Trusted/logo111.png');
   @media(max-width: 750px){
    height: max(61px,2vw);
    margin: max(58px,2vw);
   }
}
.logo-row2{
    
   height: max(40px,3vw);
    position: relative;
    margin: max(30px,1vw);
    content: url('../../../assets/Shared/Trusted/logo222.png');
    @media(max-width: 750px){
        height: max(35px,3vw);
        margin: max(20px,1vw);
    }
}
.logo-row3{
    

    height: max(46px,2vw);
    margin: max(52px,1vw);
    
    content: url('../../../assets/Shared//Trusted/logo333.png');
   @media(max-width: 750px){
    height: max(38px,2vw);
    margin: max(45px,1vw);
   } 
}
.logo-row4{
    
    margin-top: -1%;
    margin-right: 81px;
    
    height: max(49px,2vw);
   content: url('../../../assets/Shared/Trusted/logo444.png');
   @media(max-width: 750px){
    margin-right: 73px;
    height: max(39px,2vw);
   }
}

.logo-row5{
    
    
    
    height: max(32px,1vw);
    margin:max(37px,1vw);
    content: url('../../../assets/Shared/Trusted/logo555.png');
    @media(max-width: 750px){
        height: max(31px,1vw);
        margin: max(20px,1vw);
    }
}
